*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html,
body
{
    background-image: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background-image: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}